/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; /* Couleur de fond actuelle */
    /* Ajoute un fond image ou un dégradé ici */
    background-image: url('images/background.jpg'); /* Image de fond */
    background-size: cover; /* L'image couvre toute la fenêtre */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

menu {
    position: absolute; /* Positionnement absolu pour placer le menu en haut à gauche */
    top: 20px;
    left: 20px;
}


/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
